*{
	margin: 0px;
	padding: 0px;
}
#sc1{
	width: 100%;
	height: 100px;
	
}
#sc12{
	width: 80%;
	height: 50px;
	background-color:#EBEBEB;
	margin-left: 10%;
}
#sc12 ul li{
	list-style:none; 
	float: left;
	margin: 15px;
	color: #090808;

}
#sc12 ul li:hover{
	color:#25F381;
}
#sc12 ul{
	margin-left:  300px;
}
#sc2{
	
	margin-top: 15px;
}
#sc3{
	width: 75%;
	height: 100px;
	border-bottom: 1px black solid;
	margin-left: 12.5%;
}
#sc4{
	width: 100px;
	height: 100px;
	background-color:#4AFF72;
    margin-top: -100px;
    margin-left: 450px;
    text-align: center;
}
#sc4 p{
	line-height: 100px;
}
a{
	text-decoration: none;
}
#sc5{
	width: 100px;
	height: 100px;
	/*background-color: #03F848;*/
    margin-top: -100px;
    margin-left: 550px;
    text-align: center;
}
#sc5 p{
	line-height: 100px;
}
#sc5:active{
	background-color: #02FC16;
}
#sc6:active{
	background-color: #02FC16;
}
#sc7:active{
	background-color: #02FC16;
}
#sc8:active{
	background-color: #02FC16;
}
#sc6 p{
	line-height: 100px;
}
#sc7 p{
	line-height: 100px;
}
#sc8 p{
	line-height: 100px;
}
#sc5:hover{
	color: #F15C62;
}
#sc6:hover{
	color: #F15C62;
}
#sc7:hover{
	color: #F15C62;
}
#sc8:hover{
	color: #F15C62;
}
#sc10:hover{
	color: #F15C62;
}
#sc6{
	width: 100px;
	height: 100px;
	/*background-color: #03F848;*/
    margin-top: -100px;
    margin-left: 650px;
    text-align: center;
}
#sc7{
	width: 100px;
	height: 100px;
	/*background-color: #03F848;*/
    margin-top: -100px;
    margin-left: 750px;
    text-align: center;
}
#sc8{
	width: 80px;
	height: 100px;
	/*background-color: #03F848;*/
    margin-top: -100px;
    margin-left: 830px;
    text-align: center;
}
#sc9{
	width: 200px;
	height: 100px;
	/*background-color: #03F848;*/
    margin-top: -100px;
    margin-left: 900px;
    text-align: center;
}
#sc9{
    line-height: 100px;
}
#sc9 input{
	height: 30px;
	width: 150px;

}
#sc10{
	width: 100px;
	height: 100px;
	/*background-color: #03F848;*/
    margin-top: -100px;
    margin-left: 1070px;
    text-align: center;
}
#sc10 p{
	line-height: 100px;
}
#sc11{
	width: 100px;
	height: 100px;
	/*background-color: #03F848;*/
    margin-top: -100px;
    margin-left: 1170px;
    text-align: center;
    line-height: 100px;
}
#sc11 button{
	background-color: #05FC19;
	height: 30px;

}
#sc13{
	width: 100%;
	height: 550px;
	background-color:#F2F1F1;
}
#sc14{
	/*background-color: #05FC19;*/
	width: 300px;
	height: 100px;
	margin-left:600px;
	text-align: center;
	line-height: 100px;

}
#sc15{
	border: 1px solid;
	width: 600px;
	margin-left: 450px;
	/*margin-top: -15px;*/
}
#sc15 ul li{
	list-style:none;
	float: left;
	margin: 20px;
}
.sc16:hover{
	color: #59F06B;
}
#sc17{
	color: #59F06B;
}
.sc16{
	color: #080000;
}
/*#sc18{
	width: 100%;
	height: 350px;
	background-color: #FFFFFF;
}*/
#sc19{
	width: 80%;
	height: 350px;
	/*background-color:#B51D1D;*/
	margin-left: 10%;
	margin-top: 90px;
   
	
}

.sc21{
	width: 150px;
	height: 150px;
	
	
}
.sc21:hover{
	animation: bbt 3s;
}
@keyframes bbt{
	from{
		width: 150px;
		height: 150px;
	}
	to{
		width: 200px;
		height: 200px;
	}
}
.bb1{
	width: 150px;
	height:150px;
	float: left;
	margin-top: 100px;
	margin-left: 70px;

}
#bb2{
	height: 600px;
	width: 100%;
	background-color: #BFB5B5;



}
#bb2 h1{
	text-align: center;
	padding: 10px;
}
#bb2 button{
	width: 100px;
	height: 40px;
	margin-left: 100px;
}
#bb3{
	height: 40px;
	width: 500px;
	/*border: 1px solid #778899;*/
	margin-left: 500px;
	margin-top: -40px;
}
#bb2 ul li{
	list-style:none; 
	float: left;
	margin: 30px;
	
}
#bbb4{
	color: #59F06B;
}
.bbb5{
	color: #000000;
}
.bbb5:hover{
	color: #59F06B
}
.bbb6{
	width: 350px;
	height: 100px;
	/*border: 1px solid;*/
	float: left;
	margin-left: 100px;
	border-bottom: 1px black solid;

}
#bb2 img{
	height: 100px;
	width: 100px;

}
.bbb6 h4{
	margin-left: 100px;
	margin-top: -70px;
	color: #000000;
}
.bbb6 p{
	margin-left: 160px;
	color: #060606;
}
.bbb6 h4:hover{
	color: #35FB79;
}
.bbb6 p:hover{
	color: #35FB79;
}
.bbbb{
	width: 400px;
	height: 100px;
	
}
#q88{
	width: 100%;
	height: 50px;
	background-color: #FC594F;
	text-align: center;

}
#z1{
	width: 100%;
	height: 600px;
	background-color:#D3D2D2;
}
#z3{
	width: 200px;
	height: 500px;
	background-color:#91F9CC;
	float: left;
	margin: 30px;
	margin-left: 130px;
	
}
#z2{
	text-align: center;
}
#z4{
	width: 200px;
	height: 500px;
	background-color: #FF7D78;
	float: left;
	margin: 30px;
	margin-left: 130px;
}
#z5{
	width: 200px;
	height: 500px;
	background-color:#A988FB;
	float: left;
	margin: 30px;
	margin-left: 130px;
}
#z6{
	width: 200px;
	height: 500px;
	background-color: #DB94F6;
	float: left;
	margin: 30px;
	margin-left: 130px;
}
#z7{
    background-image: url(gang.png);
    background-repeat:no-repeat;
    height: 65px;
    width:65px;
    margin-left: 75px;
    margin-top: 30px;
   /* border: 1px solid;*/

}
#z7:hover{
    background-image: url(buofang.png);
    background-repeat:no-repeat;
    height: 65px;
    width:65px;
    margin-left: 70px;
    margin-top: 30px;
    animation: ccc 1s;

}
@keyframes ccc{
	from{
		width: 0px;
		height: 0px;
	}
	to{
		width: 65px;
		height:65px;
	}
}
.z91{
	
	margin:15px;
	color: #060606;

}
.z8{

	margin:15;
	margin-left: 60px;
	color: #060606;
}
.z9{
	text-align: center;
}
#n1{
	width: 80%;
	height: 270px;
	background-color: #6C6565;
	margin-left: 10%;
	margin-top: 30px;
}
#n2{
	width: 70px;
	height: 70px;
}
#n1 p:hover{
	color: #8BFCBD;
}



